---
BasedOnStyle: LLVM

IndentWidth: 2
MaxEmptyLinesToKeep: 2

ColumnLimit: 80
TabWidth: 2
UseCRLF: true
UseTab: Never

---
Language: Cpp
PointerAlignment: Left

SortIncludes:
  Enabled: false

AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 3
AllowAllArgumentsOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: BinPack
BreakBeforeBraces: Attach

InsertTrailingCommas: None
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterPlacementOperator: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
KeepEmptyLinesAtTheStartOfBlocks: false
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'const', 'type']
ContinuationIndentWidth: 2
