[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/shader-slang/slang.git
[submodule "third_party/SDL3"]
	path = third_party/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third_party/SDL3-CS"]
	path = third_party/SDL3-CS
	url = https://github.com/flibitijibibo/SDL3-CS.git
[submodule "third_party/SDL_shadercross"]
	path = third_party/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
