build
asan
old
.vscode
.cache
engine/**/obj
engine/**/bin
*.o
*.exe
*.dll
*.a
*.res
*.zip
*tar.gz
core/**/*version.h
core/**/GPUDevice
engine/**/obj
engine/**/bin
tests/**/obj
tests/**/bin
core/hydrogen.*
core/scl.*
core/*.c
.clangd
*.aseprite
